<% layout('./layouts/boilerplate') %>

<body>
  <br>
  <div class="row offset-2">
    <h1>Edit your list</h1>

    <div class="col-8">
      <form method="post" action="/listing/<%= list._id %>?_method=PATCH" novalidate class="needs-validation" enctype="multipart/form-data">
        <br>
        <div class="mb-3">
          <label for="title" class="form-label"><b>Title</b></label>
          <input type="text" name='listing[title]' placeholder="Enter your title" value="<%= list.title %>" required class="form-control">
          <div class="valid-feedback">Title looks good!.</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label"><b>Description</b></label>
          <textarea name='listing[description]' placeholder="Enter your description" required class="form-control edit-desc"><%= list.description %></textarea>
          <div class="invalid-feedback">Discription should be short.</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label"><b>Upload New Image</b></label>
          <input type="file" name='listing[image]' placeholder="Enter your image url/link" class="form-control">
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label"><b>Prise</b></label>
            <input type="number" name='listing[price]' placeholder="Enter your price" required value="<%= list.price %>" class="form-control">
            <div class="invalid-feedback">Prise should be valid.</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label"><b>Country</b></label>
            <input type="text" name='listing[country]' placeholder="Enter your country" required value="<%= list.country %>" class="form-control">
            <div class="invalid-feedback">Country name should be valid.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label"><b>Location</b></label>
          <input type="text" name='listing[location]' placeholder="Enter your location" required value="<%= list.location %>" class="form-control">
          <div class="invalid-feedback">Location should be valid.</div>
        </div>
        <br>
        <button class="btn btn-dark">submit</button>
      </form>
    </div>
  </div>
</body>

</html>